# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
dist
.next
out

# Environment (contains sensitive data)
.env*
!.env.example

# Files not required for production
README.md
Dockerfile
docker-compose.yml
*.log
.vscode
.idea
.editorconfig
*.md
.eslintrc*
.prettier*
.husky
coverage

# Cache
.npm
.eslintcache

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*